@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(/fonts/NotoSansKR-Thin-Hestia.eot), url(/fonts/NotoSansKR-Thin-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Thin-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Thin-Hestia.otf) format("opentype");
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("NotoSans-Light"), url(/fonts/NotoSansKR-Light-Hestia.eot), url(/fonts/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Light-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Light-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(/fonts/NotoSansKR-Regular-Hestia.eot), url(/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Regular-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format("opentype");
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(/fonts/NotoSansKR-Medium-Hestia.eot), url(/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Medium-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(/fonts/NotoSansKR-Bold-Hestia.eot), url(/fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Bold-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format("opentype");
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 600;
  src: local("Gotham Bold"), local("Gotham-Bold"), url(/fonts/Gotham-Bold.woff) format("woff");
}

@font-face {
   font-family:nsq;
   src: url('/fonts/NanumSquareR.eot');
   src: local('NanumSquareR'),
   url('/fonts/NanumSquareR.eot#iefix') format('embedded-opentype'),
   url('/fonts/NanumSquareR.woff') format('woff'),
   url('/fonts/NanumSquareR.ttf') format('truetype');
}