@charset "UTF-8";
/* ■■■■■■■■■■■■ 당학기 성적조회  ■■■■■■■■■■■■ */
.stdInfo{
	height:150px;
}

.cardTitle{
	height:40px;
	
}

.card-body{
	padding: 0.25rem;	
	
}
.card-body.col-lg-9{
	width:100%;
}

.stdGrade{
	height:350px;
}
.grade-wrap{
	display: flex;
	height:300px;
}

#stdInfoTb{
/* 	border : 1px solid black; */
	text-align: right;
/* 	float:right; */
	
}

#stdInfoTb input[type="text"],
#stdInfoTb span
{
	 color : black;
	 width : 70%;
	 height : 40px;
	 font-size: 18px;
	 text-align: center;
	 margin-right: 15px;
	
}
#stdInfoTb input[type="text"]{
	border-radius: 5px;
	margin-left : 10px;
}

#stdInfoTb span{
		width : 100px;
	}

.selectCustom{
	width : 40%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
	margin-right: 20px;
}

 .a{
	width : 30%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
}
.selectCustom option{
	font-weight: bold;
	color : #800000;
}

    
    .radio-group label {
      margin-right: 10px;
    }
    
    label{
    	font-size : 19px;
    }
    
    
    #submitBtn{
    width : 50px;
    height :30px;
    margin-left: 300px;
     padding : 0;
    }
    
    textarea {
	border : none;
	border-radius: 5px;
	background-color: #f7f7f7;
	padding : 10px;
}

#gradeTable{
	height: 300px;
	text-align: center;
	border : 1px solid white;
	overflow: scroll;
}

#gradeTable th{
	background : #800000;
	border : 1px solid white;
	color : white;
	height:20px;
}
#gradeTable tbody{
	background : #e1e2e3;
	color : black;
}
#gradeTable td{
	border : 1px solid white;
		height: 20px;
}
  #testBtn{
    width : 68px;
    height :25px;
     padding : 0;
    }
   
 
 #dmrSttTable{
	text-align: center;
	border-collapse:collapse;
	border : 1px solid white;
	border-color : white;
	overflow: scroll;
}

#dmrSttTable th{
	background : #800000;
	border : 1px solid white;
	color : white;
	height:35px;
}
#dmrSttTable tbody{
	background : #e1e2e3;
	color : black;
}
#dmrSttTable td{
		height: 35px;
		border : 1px solid white;
}

#dmrSttTable tr:hover{
	background : #ccced0;
	cursor: pointer;
}

#dmrSttTable .selected{
	background : #ccced0;
}
  
#drmCn,#drmAns{
	font-size: 15px;
}
    
#testTable{
	height: 500px;
	text-align: center;
	border : 1px solid white;
	overflow: scroll;
}

#testTable th{
	background : #800000;
	border : 1px solid white;
	color : white;
	height:10%;
}
#testTable tbody{
	background : #e1e2e3;
	color : black;
}
#testTable td{
	border : 1px solid white;
		height: 10%;
}

textarea{
	background-color:  #e1e2e3;
	border:none;
	resize:none;
}
/* ■■■■■■■■■■■■ 당학기 성적조회  끝■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■ 전체학기 성적조회 ■■■■■■■■■■■■ */

.allCrd{
	height: 300px;
	text-align: center;
}

.allCrd th{
	background : #800000;
	border : 1px solid white;
	color : white;
	height:30px;
}
.allCrd tbody{
	background : #e1e2e3;
	color : black;
}
.allCrd td{
	border : 1px solid white;
		height: 50px;
}
.all-grade-wrap{
	display: flex;
	height:177px;
}

.selectC{
	width : 70%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
	margin-right: 15px;
}

.selectC option{
	font-weight: bold;
	color : #800000;
}
#allGradeTable{
/* 	height: 500px; */
	text-align: center;
	border : 1px solid white;
}
#allGradeTable thead{
	position: sticky;
	top:0px;
}

#allGradeTable th{
	background : #800000;
	border : 1px solid white;
	color : white;
	height:20px;
	
}
#allGradeTable tbody{
	background : #e1e2e3;
	color : black;
}
#allGradeTable td{
	border : 1px solid white;
	height: 40px;
}