@charset "UTF-8";

.card {
    margin-bottom: 0px;
}
.card-body {
    color: black;
    font-size: 18px;
    padding: 0.75rem;
}
.myInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}
.deptText, .noText, .yearText, .nameText, .semText {
    width: 100px;
    height: 35px;
    margin-right: 60px;
    background: whitesmoke;
    color: #6e6e6e;
    font-size: 16px;
    border-radius: 0.375rem;
}
.deptText {
    padding-left: 15px;
    width: 200px;
}
.noText {
    padding-left: 15px;
    width: 160px;
}
.nameText {
    padding-left: 15px;
    width: 150px;
}
.yearText {
    padding-left: 15px;
    width: 95px;
}
.semText {
    padding-left: 15px;
    width: 80px;
}