@charset "UTF-8";

.card{
	margin-bottom:0px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #800000;
}
.table-wrap{
	height: 600px;
	overflow: scroll;
}
.dept-body, .subject-body{
	padding-top: 0px;
	height: 100%
}
.custom-form {
	display: flex;
    justify-content: flex-end;
}
.deptDiv, .subjectDiv{
	margin-top: -10px;
}
.table thead tr th {
	padding: 15px;
}
.table thead{
	position: sticky;
    top: 0px;
}

.lecSearchBtn{
	margin-top: 21px;
}