@charset "UTF-8";
.card-body{
	color: black;
	font-size: 18px;
	padding: 0.75rem;
}
.card{
	margin-bottom:0px;
}

.card-header{
	padding: 1rem 1.25rem 1.25rem;
}
.fTop{
	display: flex;
}

.cardLeft{
	width:40%;
	margin-right:20px;
}
.cardRight{
	width:60%;
}
.pro-wrap{
	overflow: scroll;
    height: 701px;
    margin-top: 13px;
}

.schedule .thead-dark th {
	color: #fff;
	background-color: #6e6e6e;
/* 	border: 1px solid black; */
}

.schedule {
	width: 100%;
	border-collapse: separate;
	text-align: center;
	border-spacing: 0 0px;
	margin-top: 14px;
}

.schedule tbody td {
	border: 1px solid #6e6e6e;
    height: 38px;
}
#scTitle{
    color: #6e6e6e;
    font-weight: 500;
    font-size: 25px;
    margin-left: 377px;
}
.rsvt{
	cursor: pointer;
}
.rsvt:hover{
	background: rgb(0 32 96 / 78%);
}

.modal-wrap{
	
}
.modal-title1{
	display: flex;
    justify-content: space-between;
    margin-right: 134px;
    margin-bottom: 8px;
}
.modal-content1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.modal-title2{
	display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.modal-content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}
.modal-title3{
	margin-bottom: 8px;
}
.modal-content3{
}
#rsvt-proNm{
	width: 51%;
    height: 33px;
    background: #e6e6e6;
}
#rsvt-flctsNm{
    width: 55%;
    height: 33px;
    background: #e6e6e6;
}
#rsvt-date{
	height: 33px;
    width: 173px;
    color :gray;
    background: #e6e6e6;
}
#rsvt-hours{
	height: 33px;
    width: 123px;
    margin-left: 29px;
    background: #e6e6e6;
}
#rsvt-startTime{
    height: 33px;
    width: 80px;
    background: #e6e6e6;
}
#rsvt-face{
    height: 33px;
    width: 125px;
}
#rsvt-prps{
	color :gray;
}
.sModal{
	--bs-modal-width: 400px;
}
.schedule-wrap{
	padding:17px;
	padding-top: 0px;
}
.fPro{
	width : 30px;
	height : 30px;
	background: rgb(255, 222, 222);
	margin-left: 57px;
}
.fRsvt{
	width:30px;
	height: 30px;
	background: rgb(0 32 96 / 78%);
	margin-left: 22px;
}
.sc-wrap{
	display: flex;
    justify-content: center;
    align-items: center;
}
.exp{
	color: #6e6e6e;
    font-size: 15px;
    margin-bottom: -3px;
    margin-left: 78px;
}
.exp-wrap{
	display: flex;
    justify-content: center;
    align-items: center;
    
}
.custom-tab-1 .nav-link{
	font-weight: 800;
	color: #444444;
	font-size: 17px;
}
.appv{
/*     width: 65px; */
/*     height: 32px; */
/*     font-weight: 500; */
/*     font-size: 15px; */
/*     background: #e6b9b8; */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
}
.wait{
    width: 65px;
    height: 32px;
    font-weight: 500;
    font-size: 15px;
    background: #e6b9b8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rej{
    width: 84px;
    height: 32px;
    font-weight: 500;
    font-size: 15px;
    background: #ff4343;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}