@charset "UTF-8";
.schedule .thead-dark th {
	color: #fff;
	background-color: #6e6e6e;
/* 	border: 1px solid black; */
}

.schedule {
	width: 100%;
	border-collapse: separate;
	text-align: center;
	border-spacing: 0 0px;
	margin-top: 4px;
}

.schedule tbody td {
	border: 1px solid #6e6e6e;
    height: 38px;
}

#monthSchedule{
	width: 67%;
    height: 349px;
    border: 1px solid #e6e6e6;
    margin-top: 11px;
    overflow: hidden;
    padding: 10px;
}
#uni-calendar{
	display: flex;
}

/* datepicker 부분*/

@charset "UTF-8";

.ui-widget-header {
border: 0px solid #dddddd;
background: #fff;
}

.ui-datepicker-calendar>thead>tr>th {
font-size: 21px !important;
}

.ui-datepicker .ui-datepicker-header {
position: relative;
padding: 13px 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
border: 0px solid #c5c5c5;
background-color: transparent;
font-weight: normal;
color: #454545;
text-align: center;
}

.ui-datepicker .ui-datepicker-title {
margin: 0 0em;
line-height: 16px;
text-align: center;
font-size: 21	px;
padding: 0px;
font-weight: bold;
}

.ui-datepicker { 	
display: block;
background-color: #fff;
border-radius: 4px;
width: 100%;
height:93%;
margin-top: 11px;
}
    
.ui-widget.ui-widget-content {
    border: 1px solid #eee;
}

#datepicker:focus>.ui-datepicker {
display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
cursor: pointer;
}

.ui-datepicker-next {
float: right;
}

.ui-state-disabled {
cursor: auto;
color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
text-align: center;
padding: 10px;
font-weight: 100;
font-size: 20px;
}

.ui-datepicker-calendar {
width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
padding: 5px;
font-size: 20px;
font-weight: 400;
}


.ui-datepicker-calendar>tbody>tr>td>a {
color: #000;
font-size: 19px !important;
font-weight: bold !important;
text-decoration: none;
    
}


.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
cursor: auto;
background-color: #fff;
}
    
.ui-datepicker-calendar>tbody>tr>td {
    width: 44px;
    height: 30px;
    cursor: pointer;
    padding: 2px;
    font-weight: 100;
    text-align: center;
    font-size: 19px;
}
    
.ui-datepicker-calendar>tbody>tr>td:hover {
    background-color: #ffdede;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
border: 0px solid #cccccc;
background-color: transparent;
font-weight: normal;
color: #2b2b2b;
}

.ui-widget-header .ui-icon {
background-image: url('/images/btns.png');
}
.ui-icon-circle-triangle-e {
background-position: -20px 0px;
background-size: 36px;
}

.ui-icon-circle-triangle-w {
background-position: -0px -0px;
background-size: 36px;
}
    
.ui-datepicker-calendar>tbody>tr>td:first-child a{
color: red !important;
}
    
.ui-datepicker-calendar>tbody>tr>td:last-child a{
color: #0099ff !important;
}
    
.ui-datepicker-calendar>thead>tr>th:first-child {
    color: red !important;
}
    
.ui-datepicker-calendar>thead>tr>th:last-child {
    color: #0099ff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #ffdede;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inp {padding:10px 10px; background-color:#f1f1f1; border-radius:4px; border:0px;}
.inp:focus {outline:none; background-color:#eee;}