@charset "UTF-8";
.info-wrap{
	border: 1px solid maroon;
    width: 45%;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 16px;
    margin-left: 16px;
}
.test-top{
	display: flex;
	align-items: center;
}
.test-middle {
    border-radius: 18px;
    padding: 11px;
    /* border: 1px solid maroon; */
    background: #9e9e9e38;
}
.middle-title {
    /* border: 1px solid maroon; */
    border-radius: 6px;
    width: 143%;
    padding: 4px 5px;
    text-align: center;
    color: #0070c0;
    font-weight: 700;
    font-size: 19px;
    padding-top: 7px;
    background-color: #ffffff;
}
.middle-date{
    margin-top: 42px;
    font-weight: 600;
}

.middle-content{
	display: flex;
	align-items: center;
}
.test-bottom{
	padding: 11px;
    font-size: 17px;
    color: #404040;
}
.test-button{
	display: flex;
    justify-content: space-evenly;
}
