@charset "UTF-8";

#tb{
	width : 50%;
	height : 400px;
}

 .table thead{
 
 	background-color: #6e6e6e;
 	 position: sticky;
 	 top: 0;
 
 }
 
 h5{
 	font-weight: bold;
 
 }
 
 .table{
/* 	 width:50%; */
	 heigth : 50%;
	 overflow: auto;
	 margin : 0 auto;
 }
 
 .txt{
 	font-size: 1.2em;
 	color : #800000;
 	font-weight: bold;
 
 }
 
 .tbtr:hover{
 	cursor: pointer;
 	background-color: #b0b0b0;
 	color : white;
 
 }
 

 .tbtr.selected{  /* 공백없이 해야 and조건*/
    background-color: #b0b0b0;
    color : white;
  }
  .aaa{
  	height : 40px;
  }
  .bbb{
  	height : 50%
  }
  .card-body{
  	align-items: center;
  	height : 450px;
/*   	overflow: scroll; */
  
  }
  
 .card{
   margin-bottom:0px;
}
.table-wrap{
   overflow: scroll;
}

.dept-body{
   padding-top: 0px;
}
.custom-form {
   display: flex;
    justify-content: flex-end;
}
.deptDiv{
   margin-top: -10px;
}
.table thead tr th {
   padding: 15px;
}

.time{
	width : 500px;
	margin : 0 auto;
}

.selectCustom{
	width : 40%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
	margin-right: 20px;
}

.a{
	width : 30%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
}
.b{
	width : 50%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
}
.selectCustom option{
	font-weight: bold;
	color : #800000;
}

.pro1{
	width:100px;
	height: 30px;
}
.pro2{
	width:50px;
	height: 30px;
}

.apply{
	padding-right :7%;
	
}
#applyTable{
/* 	border : 1px solid black; */
	text-align: right;
	float:right;
	
}

#applyTable input[type="text"],
#applyTable span
{
	 color : black;
	 height : 40px;
	 font-size: 18px;
	 text-align: center;
	
}
#applyTable input[type="text"]{
	border-radius: 5px;
}

#applyTable span{
		width : 100px;
	}

  
  
  .card-title{
  color : #800000;
  }
  
  .planTable{
  	width :85%;
  	height: 85px;
  	margin:  30px auto;
  	text-align: center;
  }
  
   .planTable input[type="text"],
    .planTable select
   {
	  	width:30%;
	  	text-align: center;
	  	border: none;
  }
  
  .planTable th{
  	background-color: #800000;
  	color : white;
  }
  
  .planTable td{
  	width: 20%;
  }
  
  /* ■■■■■■■■■ 강의실 조회 시간표 css ■■■■■■■■■ */
  
  .tabletime{
  	width: 80%;
  	text-align: center;
  	margin : auto auto;
  }
  
  .tabletime thead{
  	background-color: #6e6e6e;
  	color : white;
  	height : 40px;

  }
  .tabletime td{
  border : 1px solid  #b0b0b0;
  height: 44px;
  width : 30px;
}

.timeTd:hover{
	background-color: #b0b0b0;
}
	.timeTd.selected{
	background-color: #c8feff;
	
	}

  /* ■■■■■■■■■ 강의실 조회 시간표 css 끝 ■■■■■■■■■ */
  
    /* ■■■■■■■■■ 강의계획서 css ■■■■■■■■■ */
    
    #lecturePlan{
    		margin : 0 auto;
    	display: flex;
    	flex-direction: column;
    	}
    #lecturePlan input[type="text"]{
	 color : black;
	 height : 40px;
	 font-size: 18px;
	margin-bottom : 5px;
	margin-top: 3px;
	border-radius: 5px;
	border : 1px solid #b9b9b9;
}
.c{
	width : 30%;	
	height: 30px;
	border-radius: 5px;
	border : none;
	box-shadow: 1px 1px 1px 1px gray;
	text-align: center;
	font-weight: bold;
	color : #800000;
}
    
      /* ■■■■■■■■■ 강의실 조회 시간표 css 끝 ■■■■■■■■■ */
      
    .statusTable{
  	width :95%;
/*   	height: 85px; */
  	margin:  30px auto;
  	text-align: center;
  }
  
  
  .statusTable th{
  	background-color: #800000;
  	color : white;
  	height : 40px;
  }
  
  .statusTable td{
  	width: auto%;
  	height : 40px;
  }   
  
  .statusTable tr:hover{
  	 cursor: pointer;
 	background-color: #b0b0b0;
 	color : white;
  }    
  
   #statusTbody .selected{  /* 공백없이 해야 and조건*/
    background-color: #b0b0b0;
    color : white;
  }
  
  
/* ■■■■■■■휴강신청CSS■■■■■■■ */  
#outCardBox{
	display:flex;
	justify-content: space-between;
	height : 560px;
}
 
#submitBtn{
	padding : 0px;
}

.card-header{
	height : 40px;
}

#restTable{
/* 	border : 1px solid black; */
/* 	text-align: right; */
/* 	float:right; */
	
}

#restTable input[type="text"],
#restTable span
{
	 color : black;
	 height : 40px;
	 font-size: 18px;
	 text-align: center;
	border-radius: 5px;
	
}

#restTable span{
		width : 100px;
	}

#restTable td{
	text-align: right;
	
}


