@charset "UTF-8";
.top-wrap{
	display: flex;
	margin-top: -7px;
}
.bottom-wrap{
	display:flex;
	margin-top: -30px;
}
.container-fluid{
	width:50%;
}
.card-title{
	font-weight: 700;
    color: maroon;
}
.card-body{
	margin-top: -29px;
	display: flex;
}
#profile{
	width: 201px;
    height: 201px;
    border: 1px solid #4040404f;
    border-radius: 50%;
}
.myinfo-wrap{
    display: flex;
    align-items: center;
    margin-left: 31px;
}
.myinfo-con{
	margin-left: 47px;
    border: 1px solid #cfcfcf;
    padding: 11px;
    width: 258px;
    height: 178px;
    border-radius: 26px;
	padding-left: 18px;
    padding-right: 18px;
    background: #8080800a;
}
.span-wrap{
	border-bottom: 2px solid;
    display: flex;
    font-size: 18px;
    font-weight: 200;
    margin-top: 11px;
    padding-bottom: 8px;
}
.table thead th {
    border: none;
    padding: 4px;
    font-size: 20px;
    color: #fff;
}
.table-wrap{
	overflow: scroll;
}
.thead-dark{
      position: sticky;
      top: 0px;
}
.table tbody th, .table tbody td {
    border: none;
    padding: 1px;
    font-size: 18px;
    color: black;
}

.schedule .thead-dark th {
	color: #fff;
	background-color: #800000;
/* 	border: 1px solid black; */
}

.schedule {
	width: 100%;
	border-collapse: separate;
	text-align: center;
	border-spacing: 0 0px;
	margin-top: 4px;
}

.schedule tbody td {
	border: 1px solid #6e6e6e;
    height: 39px;
}
.schedule-wrap{
	width: 100%;
}
.form-control{
	width: 183px;
    margin-left: 28px;
    background: #fff;
    color: #6e6e6e;
    line-height: 1.5;
    font-size: 13px;
    height: 2rem;
    border-radius: 0.375rem;
    border-color: #CCCCCC;
}

/* datepicker 부분*/


.ui-widget-header {
border: 0px solid #dddddd;
background: #fff;
}

.ui-datepicker-calendar>thead>tr>th {
font-size: 21px !important;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 13px 0;
	margin-bottom: 15px;
    margin-top: 16px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
border: 0px solid #c5c5c5;
background-color: transparent;
font-weight: normal;
color: #454545;
text-align: center;
}

.ui-datepicker .ui-datepicker-title {
margin: 0 0em;
line-height: 16px;
text-align: center;
font-size: 21	px;
padding: 0px;
font-weight: bold;
}

.ui-datepicker { 	
display: block;
background-color: #fff;
border-radius: 4px;
width: 104%;
height:103%;
margin-top: 11px;
}
    
.ui-widget.ui-widget-content {
    border: 1px solid #eee;
}

#datepicker:focus>.ui-datepicker {
display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
cursor: pointer;
}

.ui-datepicker-next {
float: right;
}

.ui-state-disabled {
cursor: auto;
color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
text-align: center;
padding: 10px;
font-weight: 100;
font-size: 20px;
}

.ui-datepicker-calendar {
width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
padding: 5px;
font-size: 20px;
font-weight: 400;
}


.ui-datepicker-calendar>tbody>tr>td>a {
color: #000;
font-size: 19px !important;
font-weight: bold !important;
text-decoration: none;
    
}


.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
cursor: auto;
background-color: #fff;
}
    
.ui-datepicker-calendar>tbody>tr>td {
    width: 44px;
    height: 30px;
    cursor: pointer;
    padding: 2px;
    font-weight: 100;
    text-align: center;
    font-size: 19px;
}
    
.ui-datepicker-calendar>tbody>tr>td:hover {
    background-color: #ffdede;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
border: 0px solid #cccccc;
background-color: transparent;
font-weight: normal;
color: #2b2b2b;
}

.ui-widget-header .ui-icon {
background-image: url('/images/btns.png');
}
.ui-icon-circle-triangle-e {
background-position: -20px 0px;
background-size: 36px;
}

.ui-icon-circle-triangle-w {
background-position: -0px -0px;
background-size: 36px;
}
    
.ui-datepicker-calendar>tbody>tr>td:first-child a{
color: red !important;
}
    
.ui-datepicker-calendar>tbody>tr>td:last-child a{
color: #0099ff !important;
}
    
.ui-datepicker-calendar>thead>tr>th:first-child {
    color: red !important;
}
    
.ui-datepicker-calendar>thead>tr>th:last-child {
    color: #0099ff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #ffdede;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.inp {padding:10px 10px; background-color:#f1f1f1; border-radius:4px; border:0px;}
.inp:focus {outline:none; background-color:#eee;}

#calClsf{
	width: 147px;
    height: 24px;
    margin-right: 578px;
    background: #fff;
    color: #6e6e6e;
    line-height: 1.5;
    font-size: 13px;
    border-radius: 0.375rem;
    border-color: #CCCCCC;
}
#monthSchedule{
	margin-left: 25px;
    width: 62%;
}
#timeTitle{
	text-align: center;
    margin-top: 7px;
}