<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		[마이바티스] 스프링에서 "_"를 사용한 컬럼명 사용 시 (BOOK 테이블의 BOOK_ID와 같은 컬럼)
		카멜케이스로 읽어주는 역할(bookId와 같이)
		ex) 테이블 컬럼명이 member_id인 경우 jsp화면단에서 이 값을 사용시 memberId로 사용할 수 있다.
	 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	
	<!-- 자주 사용하는 타입의 별칭을 셋팅 -->
	<typeAliases>
<!-- 	<typeAlias type="클래스명(패키지구조를 포함한)" alias="별칭명"/> -->
    <typeAlias type="kr.or.hku.student.vo.StudyVO" alias="studyVo"/>
    <typeAlias type="kr.or.hku.login.vo.UsersVO" alias="usersVO"/>
    <typeAlias type="kr.or.hku.student.vo.StudentVO" alias="studentVO"/>
    <typeAlias type="kr.or.hku.professor.vo.ProfessorVO" alias="professorVO"/>
    <typeAlias type="kr.or.hku.admin.vo.EmployeeVO" alias="employeeVO"/>
    <typeAlias type="kr.or.hku.classroom.vo.LectureNoticeVO" alias="lectureNoticeVO"/>
    <typeAlias type="kr.or.hku.notice.vo.NoticeVO" alias="noticeVO"/>
    <typeAlias type="kr.or.hku.admin.vo.CollegeVO" alias="collegeVO"/>
    <typeAlias type="kr.or.hku.admin.vo.FacilityVO" alias="flctVO"/>
    <typeAlias type="kr.or.hku.admin.vo.FacilitiesVO" alias="flctsVO"/>
    <typeAlias type="kr.or.hku.lectureInfo.vo.SubjectVO" alias="subjectVO"/> 
    <typeAlias type="kr.or.hku.admin.vo.DepartmentVO" alias="departmentVO"/>
    <typeAlias type="kr.or.hku.common.vo.SearchInfoVO" alias="searchInfoVO"/>
    <typeAlias type="kr.or.hku.common.vo.CommonVO" alias="commonVO"/>
    <typeAlias type="kr.or.hku.student.vo.RecordVO" alias="recordVo"/>

    <!-- 정수칸  밑에서만 작성 -->
    <typeAlias type="kr.or.hku.lectureInfo.vo.LectureAplyVO" alias="lectureAplyVO"/>
    <typeAlias type="kr.or.hku.lectureInfo.vo.LectureScheduleVO" alias="lectureScheduleVO"/>
    <typeAlias type="kr.or.hku.lectureInfo.vo.CartVO" alias="cartVO"/>
    <typeAlias type="kr.or.hku.lectureInfo.vo.CourseRegistVO" alias="courseRegistVO"/>
    <typeAlias type="kr.or.hku.student.vo.LockerVO" alias="lockerVO"/>
    <typeAlias type="kr.or.hku.student.vo.LockerRsvtVO" alias="lockerRsvtVO"/>
    <typeAlias type="kr.or.hku.counseling.vo.CounselingRsvtVO" alias="counselingRsvtVO"/>
    <typeAlias type="kr.or.hku.common.vo.AlarmVO" alias="alarmVO"/>
    
    <!-- 지현칸 밑에서만 작성 -->
    <typeAlias type="kr.or.hku.lectureInfo.vo.LectureTimeTableVO" alias="timeTableVO"/>
    <typeAlias type="kr.or.hku.student.vo.StudentInfoVO" alias="stdInfoVO"/>
  	
    <!-- 재균칸 밑에서만 작성 -->  
    <typeAlias type="kr.or.hku.common.vo.AttachFileVO" alias="attachFileVO"/>
    <typeAlias type="kr.or.hku.notice.vo.PaginationInfoVO" alias="pagingVO"/>
    <typeAlias type="kr.or.hku.notice.vo.DeptNoticeVO" alias="deptNoticeVO"/>
    <typeAlias type="kr.or.hku.admin.vo.LectureBasicVO" alias="lecBasicVO"/>
    <typeAlias type="kr.or.hku.admin.vo.LectureProgramVO" alias="lecProgramVO"/>
    <typeAlias type="kr.or.hku.admin.vo.ScheduleVO" alias="scheduleVO"/>
    <typeAlias type="kr.or.hku.admin.vo.ScholarshipVO" alias="scholarshipVO"/>
    <typeAlias type="kr.or.hku.admin.vo.CalendarVO" alias="calendarVO"/>
    <!-- 영우칸 밑에서만 작성-->
    
    <typeAlias type="kr.or.hku.admin.vo.UserVO" alias="userVO"/>
    <!-- 성희칸 밑에서만 작성-->
    
    <!-- 성일칸 밑에서만 작성 -->
    
	</typeAliases>
</configuration>