doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 한국대학교 비대면화상상담
        //- link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous")
        link(rel="stylesheet", href="./public/css/style.css")
    body 
        main
            div#controlers__column
                img#logo(src="./public/css/logo.png", alt="logo.png")
                div#buttons
                    button#mute
                        i(class="fas fa-microphone fa-2x unMuteIcon")
                        i(class="fas fa-microphone-slash fa-2x muteIcon")
                    button#camera 
                        i(class="fas fa-video fa-2x cameraIcon")
                        i(class="fas fa-video-slash fa-2x unCameraIcon")
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="700", height="700") 
                    
                video#peersFace(autoplay,playsinline, width="700", height="700") 

        script.
            var roomName = "#{name}";

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
        
        